@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,900&display=swap');

:root {
    --bg-main: #212121;
    --bg-sec: #1c1c1c;

    --txt-main: #FFFFFF;
    --txt-sec: #AAAAAA;

    --font: 'Roboto', sans-serif;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.actors-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 30px 0 0;
}

.container h3 {
    padding: 0 0 10px 10px ;
    font-size: 1.6rem;
    color: var(--txt-main);
}

.posters-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.posters img {
    width: 100px;
    height: 130px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.act-minicard {
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.viewAll { 
    padding: 0.625rem;
    margin: 0 0 30px 0;
}

.act-minicard img {
    width: 3.3rem;
    height: 3.5rem;
    border-radius: 9rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#viewAll-btn {
    border: none;
    border-radius: 9rem;
    cursor: pointer;
    width: 3.3rem;
    height: 3.5rem;
}

#viewAll-btn:hover {
    background-color: #AAAAAA;
    transition: .2s ease-in-out;
}

#viewAll-btn a {
    text-decoration: none;
    color: var(--bg-sec);
}

.act-minicard h4 {
    color: var(--txt-sec);
}

@media only screen and (max-width: 768px) {
    .container h3 {
        font-size: 1.2rem;
        padding: 0;
    }

    .posters img {
        width: 4.375rem;
        height: 5.625rem;
    }

    .actors-wrapper, .posters-wrapper {
        flex-wrap: wrap;
    }

    .act-minicard {
        padding: 3px;
    }

    .viewAll {
        padding: 1px;
        margin: 0 0 40px 0;
    }

    .act-minicard img, #viewAll-btn {
        width: 2.875rem;
        height: 3.0625rem;
    }

    .act-minicard h4 {
     font-size: 0.8125rem;
     width: 50%;
     text-align: center;
    }
}