@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,900&display=swap');

:root {
  --bg-main: #212121;
  --bg-sec: #1c1c1c;

  --txt-main: #FFFFFF;
  --txt-sec: #AAAAAA;

  --font: 'Roboto', sans-serif;
}

.iframe-video {
  background-color: var(--bg-main);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3125rem 3.125rem;
}

iframe {
  position: relative;
  top: -5rem;
  width: 37.5rem;
  height: 25.9375rem;
}

@media only screen and (max-width: 768px) {
  .iframe-video {
    padding: 0.3125rem 1.25rem;
  }

  iframe {
    top: -2.5rem;
    width: 21.875rem;
    height: 15.625rem
  }
}